/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout general */
body {
    background: #f5f7fa;
    color: #333;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

/* Títulos */
h1 {
    margin-bottom: 15px;
}

h2 {
    margin: 20px 0 10px;
}

/* Formularios */
form {
    background: #fff;
    margin-bottom: 25px;
    border-radius: 6px;
    max-width: 600px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    background: #2c7be5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #1a5fd0;
}

/* Listas */
li {
    list-style: none;
}


#DBworkplace, #DBresult {
    margin-top: 35px;
    max-width: 600px;
}